html {
    font-fmaily: "Open Sans", sans-serif;
    font-size:3vh;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    font-size: larger;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 9.5vh;
}

article {
    background-image: url("../images/backgroundpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


.logo {
    width: 45px;
    height: 65px;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

h1 {
    text-align: center;
    color:white;
    font-family: 'League Script', cursive;
    padding-top: 15vh;
    font-size: 2rem;
    text-shadow: 1px 1px black;
    margin-top: 0;
}


.content {
    text-shadow: 1px 1px black;
}

#resume {
    text-align: center;
}

.resume_doc {
    display: flex;
    width: 50px;
    height: 70px;
    transition: all 2s;
    margin-left: auto;
    margin-right: auto;
   
}

#resume .resume_doc:hover {
    transform: scale(9.3);
    padding-top: .75em;
}

button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}



#contact {
    background-image: url("../images/backgroundpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.contentcontact {
    color: white;
    text-align: center;
    padding-top: 15vh;
    font-size: 2.5rem;
    font-weight: 1.25;
}

body {
    margin: 0;
}


header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

/*header > nav {*/
/*    margin-left: 6vw;*/
/*}*/


.content {
    color: white;
    top-padding: 5vh;
    text-shadowing: 2px 2px black;
}

#endorsements {
    background-image: url("../images/blue background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 2.5vh;
}

#comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    overflow: hidden;

}

#eric {
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

#ericpic {
    height: 200px;
}

#craig {
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

#craigpic {
    height: 200px;
}

#nathan {
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

#nathanpic {
    height: 200px;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    font-size: larger;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 5vh;
}

.resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;

}

#video {
    transform: translate(10%, 15%);
    
}

#picture {
    transform: translate(10%, 5%);
}

.green {
    font-size: 3vh;
}

.taylor {
    font-size: 3vh;
}

.moore {
    font-size: 3vh;
}


